<!DOCTYPE html>
<html lang="en">
  <head>
    <title>G3 - Computer Vision</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="HTML5 website template">
    <meta name="keywords" content="global, template, html, sass, jquery">
    <meta name="author" content="Bucky Maler">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
  </head>
  <body>
    <div class="container-design">
      <div class="bubbles">
        <span style="--i:11;"></span>
        <span style="--i:12;"></span>
        <span style="--i:24;"></span>
        <span style="--i:14;"></span>
        <span style="--i:23;"></span>
        <span style="--i:18;"></span>
        <span style="--i:16;"></span>
        <span style="--i:20;"></span>
        <span style="--i:22;"></span>
        <span style="--i:25;"></span>
        <span style="--i:18;"></span>
        <span style="--i:21;"></span>
        <span style="--i:15;"></span>
        <span style="--i:13;"></span>
        <span style="--i:26;"></span>
        <span style="--i:17;"></span>
        <span style="--i:13;"></span>
        <span style="--i:28;"></span>
        <span style="--i:11;"></span>
        <span style="--i:12;"></span>
        <span style="--i:24;"></span>
        <span style="--i:14;"></span>
        <span style="--i:23;"></span>
        <span style="--i:18;"></span>
        <span style="--i:16;"></span>
        <span style="--i:20;"></span>
        <span style="--i:22;"></span>
        <span style="--i:25;"></span>
        <span style="--i:18;"></span>
        <span style="--i:21;"></span>
        <span style="--i:15;"></span>
        <span style="--i:13;"></span>
        <span style="--i:26;"></span>
        <span style="--i:17;"></span>
        <span style="--i:13;"></span>
        <span style="--i:28;"></span>
        <span style="--i:11;"></span>
        <span style="--i:12;"></span>
        <span style="--i:24;"></span>
        <span style="--i:14;"></span>
        <span style="--i:23;"></span>
        <span style="--i:18;"></span>
        <span style="--i:16;"></span>
        <span style="--i:20;"></span>
        <span style="--i:22;"></span>
        <span style="--i:25;"></span>
        <span style="--i:18;"></span>
        <span style="--i:21;"></span>
        <span style="--i:15;"></span>
        <span style="--i:13;"></span>
        <span style="--i:26;"></span>
        <span style="--i:17;"></span>
        <span style="--i:13;"></span>
        <span style="--i:28;"></span>
        <span style="--i:11;"></span>
        <span style="--i:12;"></span>
        <span style="--i:24;"></span>
        <span style="--i:14;"></span>
        <span style="--i:23;"></span>
        <span style="--i:18;"></span>
        <span style="--i:16;"></span>
        <span style="--i:20;"></span>
        <span style="--i:22;"></span>
        <span style="--i:25;"></span>
        <span style="--i:18;"></span>
        <span style="--i:21;"></span>
        <span style="--i:15;"></span>
        <span style="--i:13;"></span>
        <span style="--i:26;"></span>
        <span style="--i:17;"></span>
        <span style="--i:13;"></span>
        <span style="--i:28;"></span>
      </div>
    </div>
    <!-- notification for small viewports and landscape oriented smartphones -->
    <div class="device-notification">
      <a class="device-notification--logo" href="#0">
        <img src="static/assets/img/logo.png" alt="Global">
        <p>Group 3</p>
      </a>
      <p class="device-notification--message">This project has so much to offer that we must request you orient your device to portrait or find a larger screen. You won't be disappointed.</p>
    </div>
    <div class="perspective effect-rotate-left">
      <div class="container">
        <div class="outer-nav--return"></div>
        <div id="viewport" class="l-viewport">
          <div class="l-wrapper">
            <header class="header">
              <a class="header--logo" href="#0">
                <img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="g3">
                <p>GROUP 3</p>
              </a>
            </header>
            <nav class="l-side-nav">
              <ul class="side-nav">
                <li class="is-active">
                  <span>Generated</span>
                </li>
              </ul>
            </nav>
            <ul class="l-main-content main-content">
              <li class="l-section section section--is-active">
                <div class="intro">
                  <div class="intro--banner">
                    <h1>Result <br>Image </h1>
                    <form action="{{ url_for('index')}}">
                      <button type="submit"> Back <span class="btn-background"></span>
                      </button>
                      <br>
                      <br>
                    </form>
                    <form action="{{ url_for('generatedimage')}}">
                      <button type="submit"> Generate Again <span class="btn-background"></span>
                      </button>
                    </form>
                    <img id="generatedimage" src="data:image/png;base64,{{ generatedimage }}" alt="Generated Face">
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
      window.jQuery || document.write(' < script src = "static/assets/js/vendor/jquery-2.2.4.min.js" > < \/script>')
    </script>
    <script src="static/assets/js/functions-min.js"></script>
  </body>
</html>